<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Récupération de données</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Récupération de données</h1>
	<p>Vous avez perdu vos données ou vous les avez effacés, pas de panique, je suis là pour vous. Je suis capable de récupérer presque n'importe quel média de stockage dans presque n'importe quel état à un prix que vous décidez. Je fais ça pour un monde meilleur. Regardez mes coordonnées dans la section moi du site web pour pouvoir me contacter.</p>
    </main>
	<script src="index.js"></script>
  </body>
</html>
