<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th style="font-size: 50;">Date</th>
        <th>Start</th>
        <th>-</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr>
        <th>Sunday</th>
        <td>9 am</td>
	<td>-</td>
	<td>5 pm</td>
      </tr>
      <!-- row 2 -->
      <tr>
        <th>Monday</th>
        <td>4 pm</td>
	<td>-</td>
        <td>6 pm</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Tuesday</th>
	<td>12 am</td>
	<td>-</td>
        <td>6 pm</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Wednesday</th>
        <td>12 pm</td>
	<td>-</td>
        <td>6 pm</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Thursday</th>
        <td>12 am</td>
	<td>-</td>
        <td>8 pm</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Friday</th>
        <td>10 am</td>
	<td>-</td>
        <td>6 pm</td>
      </tr>
      <!-- row 3 -->
      <tr>
        <th>Saturday</th>
        <td>9 am</td>
	<td>-</td>
        <td>5 pm</td>
      </tr>
    </tbody>
  </table>
</div>
