<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Welcome to my website</h1>
	<a href="cv" style="font-size: 20;">curiculum vitae(ma vie)</a>
	<h1></h1>
	<a href="forensics" style="font-size: 20;">recuperation de donnees</a>
	<h1></h1>
	<a href="horaire" style="font-size: 20;">mon horaire</a>
	<h1></h1>
	<a href="moi" style="font-size: 20;">mes informations</a>
	<h1></h1>
	<a href="messages" style="font-size: 20;">un memo ou un message</a>
	<h1></h1>
	<a href="tos" style="font-size: 20;">terms of services</a>
	<h1></h1>
	<a href="sql" style="font-size: 20;">sql injection</a>
    </main>
	<script src="index.js"></script>
  </body>
</html>
