<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Message</h1>
	<p>Vous voulez me laisser un message, ce sera bientôt possible grâce aux efforts du programmeur(moi).</p>
    </main>
	<script src="index.js"></script>
  </body>
</html>
