<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CVish</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Termes of services</h1>
	<p>This website has all rights on any data that is from it. We have all rights and you have none as any tos. We can do anything, you can't.</p>
    </main>
	<script src="index.js"></script>
  </body>
</html>

